body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #faf6fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: blueviolet;
  padding: 15px 20px;
  border: none;
  margin-left: 8px;
  border-radius: 6px;
  color: #faf6fe;
  font-size: 16px;
}
header {
  border-bottom: 5px solid #faf6fe;
  padding: 0 0 30px;
}
footer {
  border-top: 5px solid #faf6fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: blueviolet;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-info-container {
  display: flex;
}
.weather-app-temp {
  font-size: 88px;
  margin-left: 10px;
}
.weather-app-icon {
  font-size: 20px;
  margin-top: 22px;
}
.weather-app-unit {
  margin-top: 30px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 15px;
}

.weather-forecast-min {
  opacity: 0.6;
}
